*.pro.user
/build
/debug
/release
/Makefile
/Makefile.Debug
/Makefile.Release
/object_script.PolygonalPerception.*
ui_polygonalperception.h
*.o
*.so
*.dll
*.dll.a
*.exe
*~
*.bak
moc_*
PolygonalPerception
.qglviewer.xml
**/*.orig
build-**
PolygonalPerception.pro.user*
